@use '../../scss/abstracts/' as *;

.winner-box {
    padding: 50px 0px 0px 200px;
    border-radius: 50px;

    //was $mainBg
    background-color: $boxColor;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &__img {
        --size: 10px;
        width: var(--size);
        height: var(--size);
        border-radius: $borderRadius;

        img {
            border-radius: 10px;
        }
    }

    &-purple {
        background-color: #000;
        color: $white;
    }

    &-fullheight {
        height: calc(100% - $spacing);

        @include tablet {
            height: calc(100% - $mobileSpacing);
        }
    }
}