$bodyBg: #F3F4FA;
$mainBg: #fff;
$mainColor: #1d1d1a;
$oldTxtColor: #4E4D4F;
$txtColor: #4E4D4F;
$txtColor1: #4E4D4F;
$purple: #8624DB;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;

$eraRed: #db0c18;
$boxColor: #fff;
$redBox: #cd2626;
$eraOrange: #ec6c1c;
$eraYellow: #fabb10;

//$fontFamily: 'Roboto', sans-serif;
$fontFamily: 'Ubuntu', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
